{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Zarezerwuj Safari!</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <!-- <textarea name="note" id="note" class="form-control"></textarea> -->
  <br />
  <div align="center">
    <h4>
      Select Date:
      </h4>
    <input type="datetime-local" id="Test_DatetimeLocal">
    <h4>
      Select Type:
      </h4>
        
      Small Animals
      <input type="radio" checked=true name="package">
      Big Animals 
      <input type="radio"  name="package">  
      Full Safari
      <input type="radio" name="package">
    <!-- <button type="submit" class="btn btn-primary">Add Note</button> -->
  </div>
</form>
{% endblock %}
