{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Zarezerwuj Safari!</h1>
<!-- <ul class="list-group list-group-flush" id="notes"> -->
  <!-- {% for note in user.notes %} -->
  <li class="list-group-item">
    <!-- {{ note.data }} -->
    <!-- <button type="button" class="close" onClick="deleteNote({{ note.id }})"> -->
      <!-- <span aria-hidden="true">&times;</span> -->
    <!-- </button> -->
  </li>
  {% endfor %}
</ul>
<form  action="/" method="get">
  <!-- <textarea name="note" id="note" class="form-control"></textarea> -->
  <br />
  <div align="center">
    <h4>
      Wybierz date:
      </h4>
    <input type="datetime-local" id="date_safari" name="date_safari" value="2018-06-12T19:30">
    <h4>
      Wybierz rodzaj ulgi:
      </h4>
      Normalny
      <input type="radio" checked = "true" name="package1">
      Ulgowy
      <input type="radio"  name="package1"> 
    <h4>
      Wybierz typ safari:
      </h4>
        
      Małe zwierzęta
      <input type="radio" checked = "true" name="package2">
      Duże zwierzęta 
      <input type="radio"  name="package2">  
      Full Pakiet
      <input type="radio" name="package2">

      <h4>
        Wybierz ilość biletów:
        </h4>

        <input type="number" min="1" max="10" name="package3">
         
        
        <input type="submit" value="rezerwuj"/>
      
        <!-- <div align="center"><button type="submit" class="btn btn-primary" >Rezerwuj Bilet</button> -->
      <!-- </div> -->
  </div>
</form>

<body>
  <h3>Reservations:</h3>
  <br>
  <table>
     {% for data in reservations %}
     <tbody>
        <td>{{data.id}}</td>
        <td>{{data.user_id}}</td>
        <td>{{data.ticked_id}}</td>
        <!-- <td>{{data.age}}</td> -->
     </tbody>
     {% endfor%}
  </table>
</body>
{% endblock %}
